h1 Login
    form(method='POST', action='/login')
        input(type='text', name='user')
        br
        input(type='password', name='pass')
        br
        input(type='submit', name='login', value='Login')
h1 Sign Up
    form(name = "find", action = "/create", method = "post")
        | Firstname
        input(type="text", name="firstname", id="firstname")
        br
        | Lastname
        input(type="text", name="lastname", id="lastname")
        br
        | Email
        input(type="text", name="email", id="email")
        br
        | Password
        input(type="password", name="password", id="password")
        br
        | Phone no.
        input(type="text", name="phone", id="phone")
        br
        input(type="submit", value="Register")
h1 Logout
    form(method='POST', action='/logout')
        input(type='text', name='log')
        br
        input(type='submit', name='logout', value='Logout')

      